:root{

}
body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    background-color: #2C2C2C;
    font-family: "Inter", serif;
}

.bg-image {
    /* The image used */
    background-image: url("/assets/0tren2.jpg");

    /* Add the blur effect */
    filter: blur(0px);
    -webkit-filter: blur(8px);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200%;
}

/* Position text in the middle of the page/image */
.bg-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: fit-content;
    text-align: center;
    gap: 15px;
    padding: 20px;
    border-radius: 10px;
}

.bg-text p{
    background-color: rgba(0,0,0,0%);
    color: white;
    /* Black w/opacity/see-through */
}
.bg-text input{
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    border-radius: 15px;
    border-style: none;
    padding: 5px 10px;
}

.bg-text button{
    background-color: #F7D40A;
    border-style: none;
    width: fit-content;
    padding: 10px;
    border-radius: 15px;
}
