:root {
    --border: rgba(202, 202, 202, 1);
    --hover: rgba(154, 154, 154, 1);
    --drop-shadow-400: 0px 4px 4px rgba(0, 0, 0, 0.13);
}
.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.travel-ticket{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.travel-ticket-content {
    width: fit-content;
    min-width: 23.375rem;
    margin: 15% auto;
    display: flex;
    padding: 0.9375rem 0.9375rem 0.9375rem 0.9375rem;
    justify-content: center;
    align-items: flex-end;
    gap: 2.5rem;
    background: #FFF;
    border-radius: 1.25rem;
    border: 3px solid #CACACA
}
.ticket-options{
    display: flex;
    flex-direction: column;
    width: 110px;
    align-items: flex-start;
    gap: 10px;
    padding: 150px 0px 34px;
    position: relative;
}
.ticket-options .download-content {
    display: flex;
    height: 32px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #cd071e;
    border-radius: 25px;
    box-shadow: 0px 4px 4px #00000040;
    color: #ffffff;
    line-height: 16px;
}

.ticket-options .close-content {
    margin-bottom: -28px;
    display: flex;
    height: 32px;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #cd071e;
    border-radius: 25px;
    box-shadow: 0px 4px 4px #00000040;
    color: #ffffff;
    line-height: 16px;
}
.payment-passenger-details {
    margin: auto;
    margin-top: 3rem;
    display: flex;
    width: 68.8125rem;
    height: 36rem;
    padding: 0rem 1.25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    flex-shrink: 0;
    background: #FFF;
    border-radius: 1.25rem;
}

.payment-passenger-details .frame {
    display: flex;
    height: 43px;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
}
.payment-passenger-details .selected-part {
    display: flex;
    width: 100px;
    height: 30px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #f7d40a;
    border-radius: 25px;
    box-shadow: 0px 4px 4px #00000040;
}

.payment-passenger-details .selected-text {
    font-weight: 600;
}

.payment-passenger-details .unselected-part {
    display: flex;
    width: 100px;
    height: 30px;
    align-items: center;
    justify-content: center;
    background-color: #272727;
    border-radius: 25px;
    box-shadow: 0px 4px 4px #00000040;
}

.payment-passenger-details .unselected-text {
    font-weight: 600;
    color: #ffffff;
}
.payment-passenger-details .timer-part {
    display: flex;
    padding: 0 10px;
    height: 30px;
    align-items: center;
    justify-content: center;
    background-color: #cd071e;
    border-radius: 25px;
    box-shadow: 0px 4px 4px #00000040;
}

.payment-passenger-details .timer-text {
    font-weight: 600;
    color: #ffffff;
}
.payment-passenger-details .passenger-data {
    display: flex;
    flex-direction: column;
    width: 1061px;
    align-items: flex-start;
    gap: 12px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 15px;
    box-shadow: var(--drop-shadow-400);
}

.payment-passenger-details .passenger-banner {
    display: flex;
    height: 50px;
    align-items: center;
    gap: 28px;
    padding: 0px 13px;
}

.payment-passenger-details .passenger-text-wrapper {
    padding: 10px;
    background-color: #f7d40a;
    border-radius: 25px;
    box-shadow: var(--drop-shadow-400);
}

.payment-passenger-details .passenger-text {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
}

.payment-passenger-details .passenger-form {
    display: flex;
    gap: 10px;
    padding: 6px 15px;
    align-self: stretch;
    background-color: #f7d40a;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040;
}
.payment-passenger-details .contact-form {
    display: flex;
    margin: 0 auto;
    width: 510px;
    gap: 10px;
    padding: 6px 15px;
    align-self: stretch;
    background-color: #f7d40a;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040;
}

.payment-passenger-details .text-input {
    padding: 5px;
    flex: 1;
    background-color: #ffffff;
    border-radius: 10px;
}

.payment-passenger-details .text-field {
    color: #797979;
    border: none;
    font-size: 18px;
    border-radius: 6px;
    width: 100%;
}
.payment-passenger-details .payment-details{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
}
.payment-passenger-details .payment-method {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 15px;
    box-shadow: var(--drop-shadow-400);
}
.payment-passenger-details .payment-banner {
    display: flex;
    height: 50px;
    align-items: center;
    gap: 245px;
    padding: 0px 13px;
}
.payment-passenger-details .payment-text-wrapper {
    padding: 10px;
    background-color: #f7d40a;
    border-radius: 25px;
    box-shadow: var(--drop-shadow-400);
}
.payment-passenger-details .payment-detail-frame{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 255px;
    width: 100%;
    padding: 0 13px;
}
.payment-passenger-details .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    border-radius: 25px;
    box-shadow: 0px 4px 4px #00000040;
}
.payment-passenger-details .frame-2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.payment-passenger-details .frame-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 13px;
    gap: 25px;
    width: 100%;
}
.payment-passenger-details .frame-4{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 25px;
    width: 100%;
}
.payment-passenger-details .route-information{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    padding: 3.7px;
}
.payment-passenger-details .pay-part {
    display: flex;
    padding: 0 10px;
    height: 20px;
    align-items: center;
    justify-content: center;
    background-color: #cd071e;
    border-radius: 25px;
    box-shadow: 0px 4px 4px #00000040;
}
.payment-passenger-details .frame-5{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.payment-passenger-details .pay-text {
    color: #ffffff;
}
.payment-passenger-details .train-boxpoints{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    background-color: #f7d40a;
    border-radius: 25px;
    box-shadow: var(--drop-shadow-400);
    font-family: "Inter-Regular", Helvetica;
    font-weight: 600;
    font-size: 25px;
}